@font-face {
  font-family: "uv0000";
  src: url(universalia/u0000-webfont.woff) format("woff");
  unicode-range: U+00000 –003ff;
}

@font-face {
  font-family: "uv0400";
  src: url(universalia/u0400-webfont.woff) format("woff");
  unicode-range: U+00400 –007ff;
}

@font-face {
  font-family: "uv0800";
  src: url(universalia/u0800-webfont.woff) format("woff");
  unicode-range: U+00800 –00bff;
}

@font-face {
  font-family: "uv0c00";
  src: url(universalia/u0c00-webfont.woff) format("woff");
  unicode-range: U+00c00 –00fff;
}

@font-face {
  font-family: "uv1000";
  src: url(universalia/u1000-webfont.woff) format("woff");
  unicode-range: U+01000 –013ff;
}

@font-face {
  font-family: "uv1400";
  src: url(universalia/u1400-webfont.woff) format("woff");
  unicode-range: U+01400 –017ff;
}

@font-face {
  font-family: "uv1800";
  src: url(universalia/u1800-webfont.woff) format("woff");
  unicode-range: U+01800 –01bff;
}

@font-face {
  font-family: "uv1c00";
  src: url(universalia/u1c00-webfont.woff) format("woff");
  unicode-range: U+01c00 –01fff;
}

@font-face {
  font-family: "uv2000";
  src: url(universalia/u2000-webfont.woff) format("woff");
  unicode-range: U+02000 –023ff;
}

@font-face {
  font-family: "uv2400";
  src: url(universalia/u2400-webfont.woff) format("woff");
  unicode-range: U+02400 –027ff;
}

@font-face {
  font-family: "uv2800";
  src: url(universalia/u2800-webfont.woff) format("woff");
  unicode-range: U+02800 –02bff;
}

@font-face {
  font-family: "uv2c00";
  src: url(universalia/u2c00-webfont.woff) format("woff");
  unicode-range: U+02c00 –02fff;
}

@font-face {
  font-family: "uv3000";
  src: url(universalia/u3000-webfont.woff) format("woff");
  unicode-range: U+03000 –033ff;
}

@font-face {
  font-family: "uv3400";
  src: url(universalia/u3400-webfont.woff) format("woff");
  unicode-range: U+03400 –037ff;
}

@font-face {
  font-family: "uv3800";
  src: url(universalia/u3800-webfont.woff) format("woff");
  unicode-range: U+03800 –03bff;
}

@font-face {
  font-family: "uv3c00";
  src: url(universalia/u3c00-webfont.woff) format("woff");
  unicode-range: U+03c00 –03fff;
}

@font-face {
  font-family: "uv4000";
  src: url(universalia/u4000-webfont.woff) format("woff");
  unicode-range: U+04000 –043ff;
}

@font-face {
  font-family: "uv4400";
  src: url(universalia/u4400-webfont.woff) format("woff");
  unicode-range: U+04400 –047ff;
}

@font-face {
  font-family: "uv4800";
  src: url(universalia/u4800-webfont.woff) format("woff");
  unicode-range: U+04800 –04bff;
}

@font-face {
  font-family: "uv4c00";
  src: url(universalia/u4c00-webfont.woff) format("woff");
  unicode-range: U+04c00 –04fff;
}

@font-face {
  font-family: "uv5000";
  src: url(universalia/u5000-webfont.woff) format("woff");
  unicode-range: U+05000 –053ff;
}

@font-face {
  font-family: "uv5400";
  src: url(universalia/u5400-webfont.woff) format("woff");
  unicode-range: U+05400 –057ff;
}

@font-face {
  font-family: "uv5800";
  src: url(universalia/u5800-webfont.woff) format("woff");
  unicode-range: U+05800 –05bff;
}

@font-face {
  font-family: "uv5c00";
  src: url(universalia/u5c00-webfont.woff) format("woff");
  unicode-range: U+05c00 –05fff;
}

@font-face {
  font-family: "uv6000";
  src: url(universalia/u6000-webfont.woff) format("woff");
  unicode-range: U+06000 –063ff;
}

@font-face {
  font-family: "uv6400";
  src: url(universalia/u6400-webfont.woff) format("woff");
  unicode-range: U+06400 –067ff;
}

@font-face {
  font-family: "uv6800";
  src: url(universalia/u6800-webfont.woff) format("woff");
  unicode-range: U+06800 –06bff;
}

@font-face {
  font-family: "uv6c00";
  src: url(universalia/u6c00-webfont.woff) format("woff");
  unicode-range: U+06c00 –06fff;
}

@font-face {
  font-family: "uv7000";
  src: url(universalia/u7000-webfont.woff) format("woff");
  unicode-range: U+07000 –073ff;
}

@font-face {
  font-family: "uv7400";
  src: url(universalia/u7400-webfont.woff) format("woff");
  unicode-range: U+07400 –077ff;
}

@font-face {
  font-family: "uv7800";
  src: url(universalia/u7800-webfont.woff) format("woff");
  unicode-range: U+07800 –07bff;
}

@font-face {
  font-family: "uv7c00";
  src: url(universalia/u7c00-webfont.woff) format("woff");
  unicode-range: U+07c00 –07fff;
}

@font-face {
  font-family: "uv8000";
  src: url(universalia/u8000-webfont.woff) format("woff");
  unicode-range: U+08000 –083ff;
}

@font-face {
  font-family: "uv8400";
  src: url(universalia/u8400-webfont.woff) format("woff");
  unicode-range: U+08400 –087ff;
}

@font-face {
  font-family: "uv8800";
  src: url(universalia/u8800-webfont.woff) format("woff");
  unicode-range: U+08800 –08bff;
}

@font-face {
  font-family: "uv8c00";
  src: url(universalia/u8c00-webfont.woff) format("woff");
  unicode-range: U+08c00 –08fff;
}

@font-face {
  font-family: "uv9000";
  src: url(universalia/u9000-webfont.woff) format("woff");
  unicode-range: U+09000 –093ff;
}

@font-face {
  font-family: "uv9400";
  src: url(universalia/u9400-webfont.woff) format("woff");
  unicode-range: U+09400 –097ff;
}

@font-face {
  font-family: "uv9800";
  src: url(universalia/u9800-webfont.woff) format("woff");
  unicode-range: U+09800 –09bff;
}

@font-face {
  font-family: "uv9c00";
  src: url(universalia/u9c00-webfont.woff) format("woff");
  unicode-range: U+09c00 –09fff;
}

@font-face {
  font-family: "uva000";
  src: url(universalia/ua000-webfont.woff) format("woff");
  unicode-range: U+0a000 –0a3ff;
}

@font-face {
  font-family: "uva400";
  src: url(universalia/ua400-webfont.woff) format("woff");
  unicode-range: U+0a400 –0a7ff;
}

@font-face {
  font-family: "uva800";
  src: url(universalia/ua800-webfont.woff) format("woff");
  unicode-range: U+0a800 –0abff;
}

@font-face {
  font-family: "uvac00";
  src: url(universalia/uac00-webfont.woff) format("woff");
  unicode-range: U+0ac00 –0afff;
}

@font-face {
  font-family: "uvb000";
  src: url(universalia/ub000-webfont.woff) format("woff");
  unicode-range: U+0b000 –0b3ff;
}

@font-face {
  font-family: "uvb400";
  src: url(universalia/ub400-webfont.woff) format("woff");
  unicode-range: U+0b400 –0b7ff;
}

@font-face {
  font-family: "uvb800";
  src: url(universalia/ub800-webfont.woff) format("woff");
  unicode-range: U+0b800 –0bbff;
}

@font-face {
  font-family: "uvbc00";
  src: url(universalia/ubc00-webfont.woff) format("woff");
  unicode-range: U+0bc00 –0bfff;
}

@font-face {
  font-family: "uvc000";
  src: url(universalia/uc000-webfont.woff) format("woff");
  unicode-range: U+0c000 –0c3ff;
}

@font-face {
  font-family: "uvc400";
  src: url(universalia/uc400-webfont.woff) format("woff");
  unicode-range: U+0c400 –0c7ff;
}

@font-face {
  font-family: "uvc800";
  src: url(universalia/uc800-webfont.woff) format("woff");
  unicode-range: U+0c800 –0cbff;
}

@font-face {
  font-family: "uvcc00";
  src: url(universalia/ucc00-webfont.woff) format("woff");
  unicode-range: U+0cc00 –0cfff;
}

@font-face {
  font-family: "uvd000";
  src: url(universalia/ud000-webfont.woff) format("woff");
  unicode-range: U+0d000 –0d3ff;
}

@font-face {
  font-family: "uvd400";
  src: url(universalia/ud400-webfont.woff) format("woff");
  unicode-range: U+0d400 –0d7ff;
}

@font-face {
  font-family: "uvd800";
  src: url(universalia/ud800-webfont.woff) format("woff");
  unicode-range: U+0d800 –0dbff;
}

@font-face {
  font-family: "uvdc00";
  src: url(universalia/udc00-webfont.woff) format("woff");
  unicode-range: U+0dc00 –0dfff;
}

@font-face {
  font-family: "uvf800";
  src: url(universalia/uf800-webfont.woff) format("woff");
  unicode-range: U+0f800 –0fbff;
}

@font-face {
  font-family: "uvfc00";
  src: url(universalia/ufc00-webfont.woff) format("woff");
  unicode-range: U+0fc00 –0ffff;
}
