@font-face {
  font-family: "Aegyptus";
  src: url(fonts/Aegyptus_B.ttf);
  unicode-range: U+13000 –1342F;
}

@font-face {
  font-family: "Aegean";
  src: local("Aegean Normale");
  unicode-range: U+10100 –1013F;
}

@font-face {
  font-family: "Musical";
  src: url(fonts/Musica.ttf);
  unicode-range: U+1D000-1D0FF, U+1D100-1D1FF, U+1D200-1D24F;
}

@font-face {
  font-family: "Tengwar";
  src: url(fonts/TengwarFormalCSUR.ttf);
}

.character {
  font-family: serif, "Aegyptus", "Aegean", "Musical", "Tengwar";
}
