html, body
    padding: 0
    margin: 0
    width: 100%
    height: 100%

.world_border
    stroke-width: 4
    stroke: gray
    fill: none
    
.meridian, .parallel
    fill: none
    
    stroke-width: 0.2
    stroke: gray
    
    &.world
        stroke-width: 2
        
    &.plane
        stroke-width: 0.5
        
.digit
    font-family: sans-serif
    fill: gray
    
    &.world
        font-size: 18
        
    &.plane
        font-size: 9
        
    &.codepoint
        font-size: 9
        text-anchor: middle
        
@font-face
    font-family: 'Aegyptus'
    src: local('Aegyptus Normale')
    unicode-range: U+13000–1342F
    
@font-face
    font-family: 'Aegean'
    src: local('Aegean Normale')
    unicode-range: U+10100–1013F

.character
    font-family: serif, 'Aegyptus', 'Aegean'
    fill: black
    text-anchor: middle
    
    