.world_border
    stroke-width: 3
    stroke: gray
    fill: none
    
.meridian, .parallel
    fill: none
    
    stroke-width: 0.2
    stroke: gray
    
    &.world
        stroke-width: 1
        
    &.plane
        stroke-width: 0.5
        
.digit
    font-family: sans-serif
    fill: gray
    
    &.world
        font-size: 18
        
    &.plane
        font-size: 9
        
    &.codepoint
        font-size: 9
        text-anchor: middle
        