html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

svg {
  shape-rendering: crispEdges;
}

.world_border {
  stroke-width: 3;
  stroke: #0a4b75;
  fill: none;
}

.meridian, .parallel {
  fill: none;
  stroke-width: 1;
  stroke: #1f78b4;
  opacity: 0.1;
}
.meridian.world, .parallel.world {
  opacity: 1;
}
.meridian.plane, .parallel.plane {
  opacity: 0.2;
}

.digit {
  font-family: sans-serif;
  fill: #1f78b4;
}
.digit.world {
  font-size: 18;
}
.digit.plane {
  font-size: 9;
}
.digit.codepoint {
  font-size: 9;
  text-anchor: middle;
}

.block {
  fill: #e3e3e3;
  stroke: none;
}

.block_borders {
  stroke: #aaaaaa;
  stroke-width: 1;
  fill: none;
}

.character {
  fill: black;
  text-anchor: middle;
}

.block:hover {
  fill: #eeeeee;
}

.character, .meridian, .parallel, .digit {
  pointer-events: none;
}

.world.digit, .plane.digit {
  display: none;
}

@font-face {
  font-family: "Unidings";
  src: url(Unidings.ttf);
}

.block_symbol {
  fill: #999999;
  text-anchor: middle;
  pointer-events: none;
  font-family: "Unidings";
}
